export OS_AUTH_URL=http://openstack.infosys.tuwien.ac.at/identity/v2.0

# With the addition of Keystone we have standardized on the term **tenant**
# as the entity that owns the resources.
OS_TENANT_ID=6586ce1913a4416d86b83ac19779d2d8
OS_TENANT_NAME=""

OS_USERNAME=


OS_PASSWORD=