#sidebar-left.span1
  %nav.nav-collapse.sidebar-nav
    %ul.nav.nav-tabs.nav-stacked.main-menu
      %li
        %a{:href => "#{root_path}"}
          %i.fa-icon-bar-chart
          %span.hidden-tablet Dashboard