-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to content_tag('span', 'ViSCOSe'), root_path, class: 'brand'
      .nav-no-collapse.header-nav
        %ul.nav.pull-right
          = render 'layouts/navigation_links'
