-# navigation styled for Bootstrap 3.0
%nav.navbar
  .navbar-inner
    .container-fluid
      .navbar-header
        %a.btn.btn-navbar{"data-target" => ".top-nav.nav-collapse,.sidebar-nav.nav-collapse", "data-toggle" => "collapse"}
          =# %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to content_tag('span', 'ViSCOSe'), root_path, class: 'brand'
      .nav-no-collapse.header-nav
        %ul.nav.pull-right
          = render 'layouts/navigation_links'
